@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 6</h1>
    <p class="lead">Manage music artist details, album details, and track details like never before!</p>
    <p><a href="#" class="btn btn-primary btn-lg">Assignment 6 on Azure (Discontinued) &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Artist management</h2>
        <p>
            We now feature the ability to create artist portrayals during the artist page creation process! Not only that,
            but we also now allow for additional media items (such as additional images, sample audio clips, and documents) 
            to be added to respective artist pages!
        </p>
        <p><a class="btn btn-default" href="~/Artists">To the artists! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Album management</h2>
        <p>Managing albums has been made simpler, to allow for the new additions to flourish!</p>
        <p><a class="btn btn-default" href="~/Albums">To the albums! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Track management</h2>
        <p>Tracks can now be supplied with sample audio clips! It is now also possible to edit or delete existing tracks!</p>
        <p><a class="btn btn-default" href="~/Tracks">To the tracks! &raquo;</a></p>
    </div>
</div>